@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse';
  font-weight: normal;
}

@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
);
  font-family: 'Suisse';
  font-weight: bold;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  
  min-height: 100%;
  max-width: 640px;
  margin: 0 auto;
  font-family: 'Suisse';
  box-sizing: border-box;
  padding: 36px;
}
/* 
.container {
  max-width: 640px;
  margin: 0 auto;
} */

.dark-theme{
  background-color: #323131;
  color: white;
}

.light-theme {
  color: #333333;
  background-color: #eae9f2;
}

.light-theme .cursor {
 background-color: #333333;
}

/* .light-theme .theme-button  {
  border: 1px solid #333333;
   } */

   .light-theme .button  {
  border: 1px solid #333333;
  }

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.theme-button {
  position: relative;
  height: 53px;
  margin: auto 0;
  padding: 0px 16px 0px 36px;
  font-size: 12px;
  cursor: pointer;
  color: yellow;
  /* border-radius: 2px; */
  
  
  background-size: 100%;
}

.dark-theme .theme-button {
 
  background-image: url(images/moon.svg);
  background-color: transparent;
  /* border: 1px solid #9484f2; */
}

.light-theme .theme-button {
 
  background-image: url(images/sun.svg);
 
  /* border: 1px solid #9484f2; */
}
/* .dark-theme .theme-button::before {
  background-image: url(images/dark.svg); 
 }
 
 .light-theme .theme-button::before {
   background-image: url(images/sun.svg); 
  } */
/* .theme-button::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
   top: 7px;
  left: 12px;
} */



.button {
  width: 100px;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}

.image {
  width: 80%;
  display: block;
  margin: 60px auto 50px;
}

.advice {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 70px;
}

.footer {
  font-size: 16px;
  margin: 0;
  /* position: absolute; */
  bottom: 36px;
}

.tooltip {
  position: fixed;
  padding: 10px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.subscription-message {
  position: relative;
  margin-left: 24px;
  padding: 12px 32px 16px 40px;
  border-radius: 0 32px;
  font-size: 18px;
  line-height: 24px;
  background-color: #6653d9;
}

 

  .light-theme .subscription-message  {
    background-color: #DC143C;
    color: #fff;
    }

    .subscription {
      display: flex;
      margin-bottom: 12px;
      padding: 20px 12px;
    }

    /* .light-theme .subscription {
      background-color: #ffffff;
      box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  }

  .dark-theme .subscription {
    background-color: #808080;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
} */

/* .dark-theme .subscription {
  background-color: #808080;
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
} */

    .subscription-inner {
      position: relative;
      flex-grow: 1;
      margin-right: 10px;
  }

    .subscription-button {
      font-size: 12px;
      border: 0;
      padding: 7px 16px;
      border-radius: 2px;
      flex-shrink: 0;
      color: #fff;
      background-color: #DC143C;
    }

    .dark-theme .subscription-button {
      
      color: #fff;
      background-color: #9484f2;
    }

    .subscription-label {
      position: absolute;
      top: -12px;
      font-size: 10px;
      line-height: 14px;
  }

  .subscription-email {
    width: 100%;
    height: 30px;
    border: 0;
    background-color: transparent;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid #DC143C;
    outline:none;
}

.dark-theme .subscription-email {
  color: #fff;
  border-bottom: 1px solid #9484f2;
}

